body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#catFormPic {
  width: 180px;
	height: 180px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

#ladyJumbo {
  font-family: 'Rock Salt', cursive;
  background: url(/img/cuba.jpg)
    top center
    no-repeat
    fixed;
  height: 40vh;
  width: 100%;
  color: white;
}
#catJumbo {
  font-family: 'Rock Salt', cursive;
  background: url(/img/couch.jpg)
    top center
    no-repeat
    fixed;
  height: 40vh;
  width: 100%;
  color: white;
}
#singleJumbo {
  font-family: 'Rock Salt', cursive;
  background: url(/img/gattara.gif)
    top center
    no-repeat
    fixed;
  height: 40vh;
  width: 100%;
  color: white;
}

.circle {
	width: 200px;
	height: 200px;
  border-radius: 50%;
}

.card {
  border-radius: 10px;
}

h4 {
  color: #ff4081;
}

.navbar {
  background-color: white;
}

.catsHeader {
  margin-top: 200px;
  margin-right: 30px;
  margin-left: 30px;
}

.catsImage {
  border-radius: 50%;
}
