<div class="row">
  <div class="col 4">
    <h4 class="catsHeader">#ladies</h4>
  </div>
  <div class="col 8">
    <img class="catsImage" src="/img/cuba.jpg" alt="">
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="input-field col s12 m12">
      <input type="text" class="filterLine" ng-model="filterText">
      <label for="">Search</label>
    </div>
  </div>
  <div class="s10 offset-s1 col">
    <div class="row">
    <div class="col m4 animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms" ng-repeat="lady in ladies | orderBy: 'name' | filter: filterText track by $index">
        <div class="card pink lighten-2">
            <div class="card-content center-align">
                <div class="card-title truncate white-text text-darken-4">{{lady.name}}</div>
                <img class="circle" ng-src="{{lady.image}}">
                <hr>
                <p class="white-text text-darken-4">{{lady.bio}}</p>
                <div class="card-action center-align truncate">
                  <a href="#" class="white-text text-darken-4">Owns {{lady.number}} cats</a>
                </div>
                <div class="row">
                    <div class="col m2 hide-on-small-only">&nbsp;</div>
                    <div class="col m2 s6 center-align"><a href=""><i class="white-text small material-icons" ng-click="editLady($index, lady)">edit</i></a></div>
                    <div class="col m2 s6 center-align"><a href=""><i class="white-text small material-icons" ng-click="singleLady(lady)" ui-sref="single">zoom_in</i></a></div>
                    <div class="col m2 s6 center-align"><a href=""><i class="white-text small material-icons" ng-click="deleteLady($index, lady)">not_interested</i></a></div>
                    <div class="col m2 .hide-on-small-only">&nbsp;</div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
