<div class="jumbotron" id="singleJumbo">
  <h6 id="singleHeader">One Lady. Many cats.</h6>
</div>
<!-- <div class="row">
  <h4>{{lady.name}}</h4>
  <div>
    <img id="singleImage" ng-src="{{lady.image}}" alt="">
  </div>
  <p>{{lady.bio}}</p>
  <p>Owns {{lady.number}} cats</p>
</div> -->

<!-- <div class="s10 offset-s1 col"> -->
  <div class="row">
    <div class="col s4 animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms">
      <div class="card blue lighten-2">
        <div class="card-content center-align">
            <div class="card-title truncate white-text text-darken-4">{{lady.name}}</div>
            <img class="circle" ng-src="{{lady.image}}">
            <hr>
            <p class="white-text text-darken-4">{{lady.bio}}</p>
            <div class="card-action center-align truncate">
              <a href="#" class="white-text text-darken-4">Owns {{lady.number}} cats</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col s8">
      <ul class="collection" id="catList">
        <li class="collection-item avatar" ng-repeat='cat in cats | filter: filterText track by $index'>
          <img src="{{cat.image}}" alt="" class="circle">
          <span class="title">{{cat.name}}</span>
          <button type='button' class="secondary-content btn-floating pink accent-1"><i class="fa fa-heart-o" ng-click="addCat(cat)"></i></button>
        </li>
      </ul>
    </div>
  </div>
<!-- </div> -->
